@model PokeView
@inject Pokedex.Services.FormattingService Formatter

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="pokemon-title"><h2 style="color:#fff">@Model.Pokemon.Name - <span class="pokedex-num">@Model.Pokemon.PokedexNumber.ToString().PadLeft(3, '0')</span></h2></div>
            <div class="stat-section">
                <h3 class="stat-row">Stats</h3>

                <div class="stats-container">

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">HP</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseHitpoints</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK HP Value</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Formatter.AsTwoDecimalValue((decimal)Model.PokemonArkStats.ArkHitpoints)</span></div>
                    </div>
                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Attack</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseAttack</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Attack</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Formatter.AsTwoDecimalValue((decimal)Model.PokemonArkStats.ArkDamage)</span></div>
                    </div>
                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Defense</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseDefense</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Stamina</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Formatter.AsTwoDecimalValue((decimal)Model.PokemonArkStats.ArkStamina)</span></div>
                    </div>

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Sp. Attack</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseSpecialAttack</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Torpor</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Formatter.AsTwoDecimalValue((decimal)Model.PokemonArkStats.ArkTorpor)</span></div>
                    </div>

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Sp. Defense</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseDefense</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Weight</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Formatter.AsTwoDecimalValue((decimal)Model.PokemonArkStats.ArkWeight)</span></div>
                    </div>

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Speed</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseSpeed</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Movement Speed</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Formatter.AsTwoDecimalValue((decimal)Model.PokemonArkStats.ArkMovementSpeed)</span></div>
                    </div>
                </div>
            </div>

            <div class="meta-panel">
                <div class="row stat-row">
                    <div class="tame-type-label col-lg-2">Taming type:</div><div class="tame-type-value col-lg-8">@Model.Pokemon.TamingMethod</div>
                </div>

                @if (Model.Pokemon.PokemonAttacks != null)
                {

                    <div class="row stat-row">
                        <div class="move-set-block">
                            @for (int i = 0; i < Model.Pokemon.PokemonAttacks.Count - 1; i++)
                            {
                                <div class="pokemon-attack">@Model.Pokemon.PokemonAttacks[i].attackButton:@Model.Pokemon.PokemonAttacks[i].Name</div>
                            }
                            @*<div id="left-click-move">Left Click:</div>
                                <div id="right-click-move">Right Click:</div>
                                <div id="c-move">C Move:</div>*@
                        </div>
                    </div>

                }
            </div>
        </div>

        <div class="col-lg-6">
            <div class="pokemon-images">
                <!-- Make a jumbotron? -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    @if (Model.PokeImages != null && Model.PokeImages.Any())
                    {
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.PokeImages.Count; i++)
                            {
                                <li data-target="#carousel-example-generic" data-slide-to="@(i)" class="@(i == 0 ? " active" : "")"></li>
                            }
                        </ol>


                        <div class="carousel-inner" role="listbox">

                            @for (int i = 0; i < Model.PokeImages.Count; i++)
                            {
                                <div class="item@(i == 0 ? " active" : "")">
                                    <img src="~/images/pokemon/@(Model.PokeImages[i].Pokemon.Name.ToLower())/@(Model.PokeImages[i].FileSystemName)">
                                    <div class="carousel-caption">
                                        Flareon in the wild
                                    </div>
                                </div>
                            }

                        </div>

                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                    else
                    {
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/images/no-image.png" class="img-responsive" alt="no poke images found">
                                <div class="carousel-caption">
                                    No images found for this pokemon
                                </div>
                            </div>
                        </div>
                    }
                </div>
              
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <span class="label">Admin Spawn Cheat:</span>
                    <span class="admin-small-label dont-break-out">@Model.Pokemon.AdminSpawnCheat</span>
                </div>
            </div>

            @if (Model.Pokemon.Harvestables != null)
            {
                <div class="row stat-row">
                    <div class="gathering-table">
                        <table id="gathering-table" class="table table-bordered table-condensed">
                            <th>Resource</th>
                            <th>Can Gather</th>

                            @foreach (var item in Model.Pokemon.Harvestables)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.IsHarvestable.ToYesNoString()</td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>

            }
           
        </div>

    </div>
</div>