@model PokeView

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="pokemon-title"><h2 style="color:#fff">@Model.Pokemon.Name - <span class="pokedex-num">@Model.Pokemon.PokedexNumber.ToString().PadLeft(3, '0')</span></h2></div>
            <div class="stat-section">
                <h3 class="stat-row">Stats</h3>

                <div class="stats-container">

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">HP</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseHitpoints</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK HP Value</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.PokemonArkStats.ArkHitpoints.ToString("00.00")</span></div>
                    </div>
                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Attack</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseAttack</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Attack</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.PokemonArkStats.ArkDamage.ToString("00.00")</span></div>
                    </div>
                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Defense</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseDefense</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Stamina</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.PokemonArkStats.ArkStamina.ToString("00.00")</span></div>
                    </div>

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Sp. Attack</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseSpecialAttack</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Torpor</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.PokemonArkStats.ArkTorpor.ToString("00.00")</span></div>
                    </div>

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Sp. Defense</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseDefense</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Weight</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.PokemonArkStats.ArkWeight.ToString("00.00")</span></div>
                    </div>

                    <div class="row stat-row text-center">
                        <div class="col-lg-2"><span class="atkLabel">Speed</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.Pokemon.BaseSpeed</span></div>
                        <div class="col-lg-4"><span class="atkLabel">ARK Base Movement Speed</span></div>
                        <div class="col-lg-2"><span class="atkValue">@Model.PokemonArkStats.ArkMovementSpeed.ToString("00.00")</span></div>
                    </div>
                </div>
            </div>

            <div class="meta-panel">
                <div class="row stat-row">
                    <div class="tame-type-label col-lg-2">Taming type:</div><div class="tame-type-value col-lg-2">Herbivore</div>
                </div>

                <div class="row stat-row">
                    <div class="move-set-block">
                        <div id="left-click-move">Left Click:</div>
                        <div id="right-click-move">Right Click:</div>
                        <div id="c-move">C Move:</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="pokemon-images">
                <!-- Make a jumbotron? -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    @if (Model.PokeImages != null && Model.PokeImages.Any())
                    {
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.PokeImages.Count; i++)
                            {                               
                                    <li data-target="#carousel-example-generic" data-slide-to="@(i)" @(i == 0 ? "class='active'" : "") class="active"></li>       
                            }
                        </ol>


                        <div class="carousel-inner" role="listbox">

                            @for (int i = 0; i < Model.PokeImages.Count; i++)
                            {                                
                                <div class="item@(i == 0 ? " active" : "")">
                                    <img src="~/images/pokemon/@(Model.PokeImages[i].Pokemon.Name.ToLower())/@(Model.PokeImages[i].FileSystemName)">
                                    <div class="carousel-caption">
                                        Flareon in the fild
                                    </div>
                                </div>
                            }

                        </div>

                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    }
                    else
                    {
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/images/no-image.png" class="img-responsive" alt="no poke images found">
                                <div class="carousel-caption">
                                    No images found for this pokemon
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                <img src="~/images/flareon.jpg" alt="flareon">
                                <div class="carousel-caption">
                                    Flareon in the fild
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/flareon2.jpg" alt="flareon">
                                <div class="carousel-caption">
                                    Flareon duplicate
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/flareon3.jpg" alt="flareon">
                                <div class="carousel-caption">
                                    Flareon the majestic
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>*@
            </div>


            <div class="row">
                <div class="col-lg-5">
                    <span class="label">Admin Spawn Cheat:</span>
                    <span class="">@Model.Pokemon.AdminSpawnCheat</span>
                </div>
                <div class="col-lg-3">

                </div>
            </div>

            <div class="row stat-row">
                <div class="gathering-table">
                    <table id="gathering-table" class="table table-bordered table-condensed">
                        <th>Resource</th>
                        <th>Can Gather</th>
                        <tr>
                            <td>Berries</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Stone</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Fiber</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Wood/Thatch</td>
                            <td>Yes</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>