@model Pokedex.Models.Entities.Pokemon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pokemon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseAttack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseAttack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseDefense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseDefense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseHitpoints)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseHitpoints)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSpecialAttack)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSpecialAttack)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSpecialDefense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSpecialDefense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseSpeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSpeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsInMod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsInMod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PokedexNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PokedexNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tamingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tamingType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
